/crow-javartint/crow-javartint-core/target/
/crow-javartint/target/
/crow-javartint/crow-javartint-core/nbactions.xml
/crow-javartint/nbactions.xml
/crow-javartint/.settings/
/crow-javartint/crow-javartint-core/.settings/
/crow-javartint/.project/
/crow-javartint/crow-javartint-core/.project/
/crow-javartint/crow-javartint-core/.classpath/
/crow-javartint/crow-javartint-gea/target/
/crow-javartint/crow-javartint-gea/.project/
/crow-javartint/crow-javartint-gea/.classpath/
/crow-javartint/crow-javartint-gea/.settings/
.idea/
*.uml
*.iml

